<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <%- include('../partials/errors') %>
    <form action="/folders/<%- folder.id %>/edit" method="post">
      <div>
        <label for="name">Folder name:</label>
        <input
          type="text"
          id="name"
          name="name"
          value="<%- folder.name %>"
          required
        />
      </div>
      <button type="submit">Update</button>
    </form>
    <a href="/">go back to home</a>
  </body>
</html>
