<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    <p>hello <%= currentUser ? currentUser.username : '' %></p>
    <% if (locals.currentUser) { %>
    <a href="/folders/create">create folder</a>
        <form action="/logout" method="post">
            <button type="submit">logout</button>
        </form>
        <% if (locals.folders) { %>
            <ul>
                <% folders.forEach(folder=> { %>
                    <li>
                        <span> <%= folder.name %> </span>
                        <a href="/folders/<%- folder.id %>">view</a>
                        <a href="/folders/<%- folder.id %>/edit">edit</a>
                        <form action="/folders/<%- folder.id %>/delete" method="post">
                            <button type="submit" onclick="return confirm('are you sure you want to delete this folder?')">delete</button>
                        </form>
                    </li>
                <% }); %>

            </ul>
        <% } %>
     <% } else { %>
        <form action="/register" method="get">
            <button type="submit">register</button>
        </form>
        <form action="/login" method="get">
            <button type="submit">login</button>
        </form>
     <% } %>

      
     
    
</body>
</html>