<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <div>
      <form action="<%- file.id %>/download" method="get">
        <button type="submit">download file</button>
      </form>
      <h2>details:</h2>
    </div>
    <ul>
      <li>Name: <%= file.name %></li>
      <li>Size: <%= file.size / 1024 %> KB</li>
      <li>Upload Time : <%= file.createdAt %></li>
    </ul>
    <a href="/">go back to home</a>
  </body>
</html>
